services:
  postgres:
    image: pgvector/pgvector:pg16
    container_name: tourism_db
    environment:
      POSTGRES_DB: tourism_db
      POSTGRES_USER: root
      POSTGRES_PASSWORD: root
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
